body {
	color:#6c6c6c;
}
a,a:hover,span {
	color:#FFF;
	font-weight:300;
	
}
ul {
	margin:0;
    padding:0;
}
.header {
	height:85px;
}
.logo {
    margin: 21px 0 0 0;
    display: block;
}
.social {
	margin:20px 0 0 0;
}
.social-text {
	font-size:20px;
	margin:6px 0 0 23px;
	display:block;
	color:#585858;
}
.social .icon {
	display:block;
	width:32px;
	height:29px;
	text-indent:-99999px;
	margin: 5px 10px 0 0;
}
.social .facebook {	
	background:url(../images/fb.png) no-repeat left top;	
	
}
.social .twitter {
	background:url(../images/twitter.png) no-repeat left top;
}
.social .instagram {
	background:url(../images/instagra.png) no-repeat left top;
}

/**Middle blocks*/
.middle-block-box {
	position:relative;
}
.middle-blocks {
	position:absolute;
	top:338px;
	left:20px;
	z-index:20;
	width:1170px;
}
.coming-soon {
	color:#FFF;
	font-size:64px;
	font-weight:bold;
	text-align: center;
}

.middle-blocks .blocks {
	max-width:903px;
	margin:0 auto;
	text-align: center;
}
.middle-blocks .block {
	height:225px;
}
.middle-blocks .fee {
	background:#e41937;
}
.middle-blocks .admission {
	background:#fdb813;
}
.middle-blocks .contact {
	background:#0055a5;
}
.middle-blocks .locate {
	background:#0db0f5;
}

.fee_icon {
	background:url(../images/fee_structure_icon.jpg) no-repeat;
	width:100px;
	height:77px;
	margin: 30px auto 0 auto;
}
.mail_icon {
	background:url(../images/mail_icon.jpg) no-repeat 0px;
	width:100px;
	height:77px;
	margin: 30px auto 0 auto;
}
.phone_icon {
	background:url(../images/phone_icon.jpg) no-repeat 0px;
	width:100px;
	height:77px;
	margin: 30px auto 0 auto;
}
.map_icon {
	background:url(../images/map_icon.jpg) no-repeat 0px;
	width:100px;
	height:77px;
	margin: 30px auto 0 auto;
}
.fee_text { color:#FFF;font-size:20px;text-align:center;margin: 10px 0 0 0;display:block;font-weight:700;}
.mail_text{ color:#FFF;font-size:20px;text-align:center;margin: 10px 0 0 0;display:block;font-weight:700;}
.phone_text{ color:#FFF;font-size:20px;text-align:center;margin: 10px 0 0 0;display:block;font-weight:700;}
.map_text{ color:#FFF;font-size:20px;text-align:center;margin: 10px 0 0 0;display:block;font-weight:700;}

/*footer*/
.signup {
	width:541px;
	margin:0 auto;
}
.signup-title {
	color:#0d519c;
	font-size:24px;
	font-weight:700;
	text-align:center;
}
.signup-form input[type="text"]  {
	border:1px solid #0d519c;
	width:400px;
	height:30px;
	font-style:italic;
	color:#0d519c;
}
.signup-form input[type="submit"]  {

	width:129px;
	height:30px;
	background:url(../images/button.png) no-repeat;
	border:0;
	font-size:0;
	margin:0px 0 0 5px;
	
}

#fee-structure-popup {
	/*width:800px;
	background:#FFF;
	height:400px;
	left: 26%;
    top: 20%;*/
}
.popup-title {
	color:#0d519c;
	font-size:24px;
	text-align:center;
}

.table-bordered {
	width:100%;
}
.popup-table td {
	padding:15px;
	width:20%;
	font-size:15px;
}
.popup-table .thead {
	background:#0d519c;
	color:#FFF;
	font-size:18px !important;
}
#fee-structure-popup  .modal-dialog { width:800px}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #FFF;
}
.left-title {
	font-size:20px;
	color:#0d519c;
	font-weight:700;
}
.top-title {
	font-size:20px;

	font-weight:700;
}

